{{ form_start(formGallery) }}
{% if(editMode) %}

	<div class="col-md-12 col-sm-12">
		<div class="row">

			{% for gallery in homeGallery %}
				<div class="col-md-3 col-sm-12">
					<div class="card card-figure">
						<figure class="figure">
							<figcaption class="figure-caption">
								<ul class="list-inline text-muted mb-0">
									<li class="list-inline-item text-truncate mr-auto">
										<img src="{{ asset('images/uploads/imggalleryaccueil/' ~ gallery.photos) }}" alt="Card image cap" class="img-fluid">
									</li>
								</ul>
							</figcaption>
						</figure>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}
<div class="form-group mt-4">
	{{ form_row(formGallery.file) }}
</div>
{% if editMode %}
	<div class="form-group mt-4">
		<button type="submit" class="btn btn-success btn-block">Modifier dans la liste</button>
	</div>
{% else %}
	<div class="form-group mt-4">
		<button type="submit" class="btn btn-primary btn-block">Ajouter dans la liste</button>
	</div>
{% endif %}


{{ form_end(formGallery) }}
