{{ form_start(form_rules) }}

    <div class="form-group mt-4">
        {{ form_row(form_rules.content ) }}
    </div>
    <div class="form-group mt-4">
        <div class="col-lg-6 offset-3">
        <button type="submit" class="btn btn-success btn-block">Mettre à jour</button>
    </div>

{{ form_end(form_rules) }}