{% extends 'fo/base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<br>
    <section id="contact" class="contact">
  
      <div class="login-box">
      <!-- /.login-logo -->
      <div class="card offset-3 col-6 php-email-form" >
        <div class="card-body login-card-body">
          <p class="login-box-msg">Connecter pour demmarer votre session</p>

          <form action="{{path('app_login_client')}}" method="post" >
            <div class="input-group mb-3">
              <input type="email" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="input-group mb-3">
              <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-success btn-block">Connexion</button>
              </div>
            </div>
          </form>

        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
  </section><!-- End Contact Us Section -->
{% endblock %}
